body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --opensans: "Open Sans", sans-serif;
  --headings: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --color1: hsl(200, 21%, 62%);
}
.nav-container {
    width: 66%;
    margin: auto;
    position: relative;
  }
nav {
  background-color: var(--color1);
  padding: 15px;
  top: 0; 
}

.container {
  width: 60%;
  margin: auto;
  display: flex;
  padding: 50px;
  background-color: beige;
}

.leftcol {
  width: 40%;
}

.rightcol {
  width: 60%;
  border-left: 2px solid grey;
  padding-left: 50px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: auto;
  border-radius: 100%;
}

.links {
  padding-top: 20px;
}
.leftcol p i {
  padding-right: 15px;
}

.leftcol p {
  font-size: small;
  font-family: var(--opensans);
  font-size: medium;
  padding-left: 60px;
}

.leftcol p a {
  text-decoration: none;
  color: black;
}

.education {
  font-family: var(--opensans);
}
.education h1,
.skills h1,
.interests h1,
.about h1,
.experience h1, .certifications h1{
  font-family: var(--headings);
  padding-top: 10px;
}

.education ul li,
.skills ul li,
.interests ul li , .certifications ul li{
  padding-top: 10px;
}
.education ul li strong {
  font-size: larger;
}

.title {
  font-family: var(--headings);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 3em;
  letter-spacing: 4px;
  margin-top: 0%;
  margin-bottom: 0%;
  color: var(--color1);
}

.title h3,
.about h1 {
  margin: 0%;
}

.about p {
  font-family: var(--opensans);
  text-align: justify;
}

.experience h1 {
  margin-bottom: 0%;
}
.experience ul {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  margin-top: 0%;
  font-family: var(--opensans);
}

.experience ul li {
  padding-top: 20px;
}
.experience ul li h2,
.experience ul li h3,
.experience ul li p {
  margin: 0;
}
.certifications h1{
    margin: 0;
}

.certifications a{
  text-decoration: underline;
}

.certifications ul {
  padding-left: 15px;
  margin-top: 0%;
  font-family: var(--opensans);
}

