body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --opensans: "Open Sans", sans-serif;
  --headings: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav {
  background-color: hsl(179, 47%, 45%);
  padding: 15px;
}

.container {
  width: 60%;
  margin: auto;
  display: flex;
  padding: 50px;
  background-color: beige;
}

.leftcol {
  width: 40%;
}

.rightcol {
  width: 60%;
  border-left: 2px solid grey;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: auto;
  border-radius: 100%;
}

.links{
    padding-top: 20px;
}
.leftcol p i {
  padding-right: 15px;
}

.leftcol p {
  font-size: small;
  font-family: var(--opensans);
  font-size: medium;
  padding-left: 60px;
}

.leftcol p a {
  text-decoration: none;
  color: black;
}

.education{
    font-family: var(--opensans);
}
.education h1 , .skills h1 , .interests h1{
    
    font-family: var(--headings);
    padding-top: 10px;
}

.education ul li, .skills ul li, .interests ul li{
    padding-top: 10px;
}
.education ul li strong{
    font-size: larger;
}
