<div class='bg-black py-6'>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-white mx-32 ">

        <!-- 1st Column -->
        <div class="md:mx-auto my-10">
            <img src="../Assets/axiobridge.png" alt='' class="mb-4 h-36 md:ml-20" />
            <p class="text-xs md:text-lg">4,5 Block L, Abdul Haque Rd</p>
            <p class="mb-10 text-xs md:text-lg">Lahore, Pakistan</p>
            <p>Phone: +92 309 0855 822</p>
            <p>Email: info@appleresellers.com</p>
        </div>

        <!-- 2nd Column -->
        <div class="mx-auto my-10">
            <h2 class="text-lg md:text-xl md:tracking-widest font-semibold mb-2 md:pt-10">Dummy Headings</h2>
            <ul class="list-disc ml-4 leading-8">
                <li>Home</li>
                <li>About</li>
                <li>Services</li>
                <li>Clients</li>
                <li>Contact</li>
                <li>T&T</li>
            </ul>
        </div>


        <!-- 3rd Column -->
        <div class="mx-auto my-10">
            <h2 class="text-lg md:text-xl md:tracking-widest font-semibold mb-2 md:pt-10">Dummy Services</h2>
            <ul class="list-disc ml-4 leading-7">
                <li>hvkhvl</li>
                <li>swdfceceeef</li>
                <li>svfervervrtvgrv</li>
                <li>sd sadcevfcevg</li>
                <li>d cecewcew</li>
            </ul>
        </div>
    </div>
</div>
<div class="bg-[#181725]">
    <p class="text-center text-white py-6">Copyright © Apple resellers | All Rights Reserveds</p>
</div>
