<div class="relative overflow-hidden">
    <div class="carousel w-screen">
        <div class="carousel-item relative">
            <img src="../../public/images/img1.jpg" alt="Slide 1" class="w-full h-auto">
            <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold">We will be your next upgrade.</div>
        </div>
        <div class="carousel-item relative hidden">
            <img src="../../public/images/img2.png" alt="Slide 2" class="w-full h-auto">
            <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold">We will be your next upgrade.</div>
        </div>
        <div class="carousel-item relative hidden">
            <img src="../../public/images/img3.jpg" alt="Slide 3" class="w-full h-auto">
            <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold">We will be your next upgrade.</div>
        </div>
        <div class="carousel-item relative hidden">
            <img src="../../public/images/img4.png" alt="Slide 3" class="w-full h-auto">
            <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold">We will be your next upgrade.</div>
        </div>
        <div class="carousel-item relative hidden">
            <img src="../../public/images/img5.jpg" alt="Slide 3" class="w-full h-auto">
            <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold">We will be your next upgrade.</div>
        </div>
    </div>
    <div class="absolute inset-y-0 left-0 flex items-center justify-center">
        <button id="prevBtn" class="bg-gray-800 text-white p-2 rounded-l-md"><</button>
    </div>
    <div class="absolute inset-y-0 right-0 flex items-center justify-center">
        <button id="nextBtn" class="bg-gray-800 text-white p-2 rounded-r-md">></button>
    </div>
</div>
