<nav class="bg-white shadow">
    <div class="container mx-auto flex items-center py-4 justify-between px-4">
        <div class="logo">
            <a href="/" class="text-xl font-bold flex"><i class="fi-xnsuxl-apple"></i>Resellers</a>
        </div>

        <div id="search-bar" class="hidden lg:block">
            <form action="/products" method="get" class="flex">
                <input type="text" name="search" class="border p-2" placeholder="Search products...">
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
        </div>

        <div class="hidden lg:flex items-center space-x-6">
            <a href="/" class="hover:text-lg hover:ease-in-out hover:duration-300">Home</a>
            <a href="/aboutus" class="hover:text-lg hover:ease-in-out hover:duration-300">About Us</a>
            <a href="/contactus" class="hover:text-lg hover:ease-in-out hover:duration-300">Contact Us</a>
            <a href="#" class="px-3 py-1 border border-gray-500 hover:bg-gray-100 rounded">
                <i class="fi-xnluhl-shopping-cart"></i>
            </a>
            
            <% if (!currentUser) { %>
            <a href="/login" class="btn btn-primary">Login</a>
            <% } else { %>
            <form action="/logout" method="POST">
                <button class="btn btn-primary">Logout</button>
            </form>
            <% } %>
        </div>

        <button id="menu-toggle" class="lg:hidden block">
            <i class="fi-xnsuhl-search"></i>
        </button>

        

        <div id="mobile-menu" class="absolute top-0 left-0 w-full h-full bg-gray-900/50 flex items-center justify-center fixed lg:hidden hidden"
            style="z-index: 1000;">
            <ul class="text-center space-y-6 text-lg text-white">
                <li><a href="/" class="block py-3 hover:bg-gray-800">Home</a></li>
                <li><a href="/aboutus" class="block py-3 hover:bg-gray-800">About Us</a></li>
                <li><a href="/contactus" class="block py-3 hover:bg-gray-800">Contact Us</a></li>
                <li><a href="#" class="block py-3 hover:bg-gray-800">Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
